<%= form_with(model: @blog, local: true) do |form| %>

  <div class="title1">
    <div class="form-tag1">タイトル</div>
    <%= form.text_field :title, class: "form-input1" %>
  </div>


  <div class="content1">
    <div class="form-tag1">内容</div>
    <%= form.text_field :content, class: "form-input1" %>
  </div>

  <div class="price1">
      <div class="form-tag1">費用</div>
      <%= form.text_field :price, pattern: "[0-9]*", inputmode: "numeric", placeholder: "半角英数字を入力", class: "form-input1" %>
  </div>  

    <div class="time1">
    <div class="form-tag1">時間</div>
    <%= form.datetime_select :start_time, class: "form-input1" %>
  </div>


  <div class="submit1">
     <%= form.submit "予定を変更", class: "submit-button1" %>
  </div>

<% end %>