<h2 class="signup-title">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "signup-form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
    <%= f.label :name, class: "form-label" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-input" %>
  </div>


  <div class="form-field">
    <%= f.label :email, class: "form-label", for: "user_email" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input", id: "user_email" %>
  </div>

  <div class="form-field">
    <%= f.label :password, class: "form-label", for: "user_password" %>
    <% if @minimum_password_length %>
      <em class="password-info">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-input", id: "user_password" %>
  </div>

  <div class="form-field">
    <%= f.label :password_confirmation, class: "form-label", for: "user_password_confirmation" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input", id: "user_password_confirmation" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Sign up", class: "btn-submit" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
